.titulo-favoritos {
    padding: 20px 0 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.favorite {
    padding: 100px 20px 20px 10px;
    background-color: #f9f9f9;
    width: 100%;
}