@tailwind base;
@tailwind components;
@tailwind utilities;

.user-avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  background-color: #FE8C00;
  color: white;
  border-radius: 50%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px;
}

.user-name {
  font-size: 1em;
  color: #333;
}

.input-login{
  border-radius: 12px;
  border-color: #7C887D;
  border-width: 1px;
  border-style: solid;
  background: #ffffff;
  height: 56px;
}

.boton-modal-login{
  background: #FE8C00;
  width: 100%;
  padding: 14px 24px;
  color: white;
  font-size: 16px;
}

.signout-button{
  width: auto;
  cursor: pointer;
}